<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657436537415-me5uiimuecuip0e2lirpk2418lmtl6ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657436537415-me5uiimuecuip0e2lirpk2418lmtl6ui</string>
	<key>API_KEY</key>
	<string>AIzaSyATNBluc_I801tFYPUaGvpFmX02LA4bw_E</string>
	<key>GCM_SENDER_ID</key>
	<string>657436537415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackvanboening.TurnUp</string>
	<key>PROJECT_ID</key>
	<string>turnup-app-42069</string>
	<key>STORAGE_BUCKET</key>
	<string>turnup-app-42069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657436537415:ios:9350e9b7242b5f68</string>
	<key>DATABASE_URL</key>
	<string>https://turnup-app-42069.firebaseio.com</string>
</dict>
</plist>